adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
capstone==3.0.4
chardet==2.0.1
command-not-found==0.3
confusable-homoglyphs==2.0.2
csvImporter==0.1.3.2
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
Django==1.11.4
django-admin-export==2.0
django-bootstrap3==8.2.3
django-debug-toolbar==1.5
django-filter==1.0.2
django-registration==2.3
django-report-utils==0.3.15
-e git+https://github.com/bradleyayers/django-tables2.git@262cc45c46334cdf04349d4b1a8aa11c7d3d51d3#egg=django_tables2
dnspython==1.11.1
duplicity==0.6.23
et-xmlfile==1.0.1
fluendo-eula==0.6
httplib2==0.8
jdcal==1.3
lockfile==0.8
lxml==3.3.3
numpy==1.8.2
oauthlib==0.6.1
odfpy==1.3.5
oneconf==0.3.7.14.4.1
openpyxl==2.4.8
openshot==1.4.3
PAM==0.4.2
pexpect==3.1
Pillow==2.3.0
piston-mini-client==0.7.5
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pygubu==0.9.8.1
PyInstaller==3.2.1
pyOpenSSL==0.13
pyserial==2.6
pysmbc==1.0.14.1
python-apt===0.9.3.5ubuntu2
python-debian===0.1.21-nmu2ubuntu2
python-distutils-extra==2.38
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
reportlab==3.0
requests==2.2.1
scipy==0.13.3
sessioninstaller==0.0.0
simplejson==3.11.1
six==1.5.2
software-center-aptd-plugins==0.0.0
sqlparse==0.2.3
system-service==0.1.6
tablib==0.12.1
Twisted-Core==13.2.0
Twisted-Web==13.2.0
uncompyle2==1.1
unicodecsv==0.14.1
unity-lens-photos==1.0
urllib3==1.7.1
virtualenv==15.1.0
VTK==5.8.0
xdiagnose===3.6.3build2
xlrd==1.1.0
xlwt==1.3.0
zope.interface==4.0.5
