{% extends 'tracksheet/base.html' %}
{% block title %}Image Detail{% endblock %}
{% block header %}Image{% endblock %}
{% block header_tag %}Details{% endblock %}
{% load static %}
{% load tags %}
<script>
{% block jquery %}
var endpoint = '/tracksheet/images/data/'
var defaultData = []
var labels = [];

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
function setChart(){
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            label: 'Total',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }],
            "xAxes":[]
        }
    }
});
}
{% endblock %}
</script>

{% block body %}
<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Track-Pro Analysis</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                <canvas id="myChart" width="150" height="100"></canvas>
            </div>
            <div class="col-sm-6">
                <!--<canvas id="myChart1" width="150" height="100">-->
                    <!--<script>-->
                    <!--var ctx = document.getElementById("myChart1").getContext('2d');-->
                    <!--var myChart = new Chart(ctx, {-->
                        <!--type: 'line',-->
                        <!--data: {-->
                        <!--labels: ["January", "February", "March", "April", "May", "June"],-->
                            <!--datasets: [{-->
                                <!--label: 'No of User',-->
                                <!--data: [10, 7, 3, 5, 2, 3],-->
                                <!--backgroundColor: [-->
                                    <!--'rgba(255, 99, 132, 0.2)',-->
                                    <!--'rgba(54, 162, 235, 0.2)',-->
                                    <!--'rgba(255, 206, 86, 0.2)',-->
                                    <!--'rgba(75, 192, 192, 0.2)',-->
                                    <!--'rgba(153, 102, 255, 0.2)',-->
                                    <!--'rgba(255, 159, 64, 0.2)'-->
                                <!--],-->
                                <!--borderColor: [-->
                                    <!--'rgba(255,99,132,1)',-->
                                    <!--'rgba(54, 162, 235, 1)',-->
                                    <!--'rgba(255, 206, 86, 1)',-->
                                    <!--'rgba(75, 192, 192, 1)',-->
                                    <!--'rgba(153, 102, 255, 1)',-->
                                    <!--'rgba(255, 159, 64, 1)'-->
                                <!--],-->
                                <!--borderWidth: 1-->
                            <!--}]-->
                        <!--},-->
                        <!--options: {-->
                            <!--scales: {-->
                                <!--yAxes: [{-->
                                    <!--ticks: {-->
                                        <!--beginAtZero:true-->
                                    <!--}-->
                                <!--}]-->
                            <!--}-->
                        <!--}-->
                    <!--});-->
                    <!--</script>-->
                <!--</canvas>-->
            </div>

        </div>
    </div>
    <div class="box-footer">

    </div>
</div>
{% endblock body %}