{% extends 'tracksheet/base.html' %}
{% block title %}Image Detail{% endblock %}
{% block header %}Image{% endblock %}
{% block header_tag %}Details{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

{{ form.media }}

<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Checkout</h3>

        <div class="box-tools pull-right">
            <a class="btn btn-warning btn-sm" href="/tracksheet/checkout/add/{{id}}" role="button"> Back </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group pull-right">
                    <form method="POST" role="form">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- /.form-group -->

                <!-- /.form-group -->
            </div>
            <!-- /.col -->

            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a class="btn btn-warning btn-sm pull-right" href="/tracksheet/checkout/add/{{id}}" role="button"> Back </a>
    </div>
</div>

{% endblock %}