{% extends 'tracksheet/base.html' %}
{% block title %}Image Detail{% endblock %}
{% block header %}Image{% endblock %}
{% block header_tag %}Details{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<script src="{% static 'tracksheet/bower_components/jquery.min.js'%}"></script>
<script>
$(document).ready(function(){


        $("#checkin_at").after("<span class='input-group-addon' id='get_time'><span class='glyphicon glyphicon-time'></span></span>");

        Number.prototype.padLeft = function(base,chr){
           var  len = (String(base || 10).length - String(this).length)+1;
           return len > 0? new Array(len).join(chr || '0')+this : this;
        }

        $('#get_time').click(function(){
            var d = new Date,
                dformat = [ d.getFullYear(),
                                        (d.getMonth()+1).padLeft(),
                            d.getDate().padLeft()].join('-')+
                            ' ' +
                          [ d.getHours().padLeft(),
                            d.getMinutes().padLeft(),
                            d.getSeconds().padLeft()].join(':');
             $('#checkin_at').val(dformat);
        });

});


</script>
{% ifequal request.user.groups.all.0.name 'Labeller'%}
<script>
$(document).ready(function(){
    document.getElementById("layer_issues").style.display = "none";
    document.getElementById("border_issues").style.display = "none";
    document.getElementById("missing_objects").style.display = "none";
});
</script>
<style>[for = "layer_issues"] {display : none ; }</style>
<style>[for = "border_issues"] {display : none ; }</style>
<style>[for = "missing_objects"] {display : none ; }</style>

{% endifequal %}

{{ form.media }}

<div class="box box-warning" onload="hf()">
    <div class="box-header with-border">

        <h2 class="box-title">Check-in of <b>{{instance}}</b></h2>
        <div class="box-tools pull-right">
            <a class="btn btn-warning btn-sm" href="/tracksheet/checkout/add/{{id}}" role="button"> Back </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                <div class="messages">
                {% for message in messages %}
                {% if message.tags %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                </div>
                {% endif %}
                <div class="form-group">
                    <form method="POST" role="form">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- /.form-group -->

                <!-- /.form-group -->
            </div>
            <!-- /.col -->

            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a class="btn btn-warning btn-sm pull-right" href="/tracksheet/checkout/add/{{id}}" role="button"> Back </a>
    </div>
</div>

{% endblock %}